.login-container {
    background-color: #fff; /* White background */
    color: #000; /* Black text */
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd; /* Light border for better definition */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    font-family: "Arial", sans-serif;
  }
  
  .login-header {
    color: #009ab5; /* Primary color for header */
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-formGroup {
    margin-bottom: 15px;
  }
  
  .login-label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #333; 
    text-align: left;
  }
  
  .login-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #009ab5; /* Primary color border */
    font-size: 14px;
    color: #333; /* Dark text for readability */
    background-color: #f9f9f9; /* Subtle background for inputs */
  }
  
  .login-input:focus {
    border-color: #007a8f; /* Darker shade for focus */
    outline: none;
    box-shadow: 0 0 5px rgba(0, 154, 181, 0.3);
  }
  
  .login-button {
    background-color: #009ab5; /* Primary color */
    color: #fff; /* White text */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 0 auto;
  }
  
  .login-button:hover {
    background-color: #007a8f; /* Slightly darker on hover */
  }
  .login-logo-container {
    margin-top: 2%;
    text-align: center;
}

.login-logo {
    width: 200px; 
    height: auto;
    border-radius: 15px; /* Curved borders */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Elevation shadow */
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth animation */
}
.login-email-error-message {
  color: red;
  font-size: 0.8rem; /* Small font size */
  margin-top: 4px;  /* Spacing between input field and error */
}

